@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mamba: "Mamba Regular", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --color-primary: #1452a5;
    --color-primary-dark: #1425a6;
    --color-danger: red;
    --color-success: green;
    --color-text: #333333;
    --color-gray: #555555;
}

.container {
    @apply mx-auto px-3 sm:px-6 lg:px-8 max-w-6xl h-full;
}

button,
a {
    @apply cursor-pointer;
}

.h1 {
    @apply capitalize text-3xl lg:text-4xl font-semibold lg:font-bold;
}

.h2 {
    @apply capitalize text-2xl lg:text-3xl font-semibold;
}

.h3 {
    @apply text-lg font-medium capitalize;
}

.layer {
    @apply fixed inset-0 bg-none z-40;
}

.link {
    @apply text-primary hover:text-primary-dark hover:underline transition-all text-sm;
}

.btn {
    @apply px-4 py-2 text-sm font-medium flex items-center justify-center rounded-lg bg-primary hover:bg-primary-dark transition-all text-white disabled:bg-slate-400 disabled:cursor-wait;
}

.btn-link {
    @apply text-sm px-3 py-2 my-1 rounded-lg mr-1 hover:text-primary hover:bg-primary/10 transition-all text-gray-500;
}

.btn-icon {
    @apply text-lg text-primary p-2.5 bg-primary/5 hover:bg-primary/10 rounded-lg flex items-center justify-center;
}

.badge {
    @apply border text-xs text-primary rounded-[2px] px-1 w-fit;
}

.footer-link {
    @apply block w-fit text-gray-500 py-1 hover:text-primary transition-all text-sm;
}

.footer-title {
    @apply text-lg text-primary font-semibold;
}

/* Ckeditor */

.ck-editor__editable {
    @apply h-48 resize-y;
}

.ck-editor__editable p {
    @apply mb-4;
}

.ck-editor__editable h2,
.text-content h2 {
    @apply font-semibold text-xl mb-2 text-gray-800;
}

.ck-editor__editable h3,
.text-content h3 {
    @apply font-semibold text-lg mb-2 text-gray-800;
}

.ck-editor__editable a,
.text-content a {
    @apply font-medium text-primary hover:underline;
}

.text-content {
    @apply text-sm lg:text-base leading-relaxed text-gray-600 space-y-4 mt-4 first-letter:uppercase;
}

.ck-editor__editable ol,
.text-content ol {
    @apply list-decimal mb-4 ml-8;
}

.ck-editor__editable ol li,
.text-content ol li {
    @apply pl-2;
}

.ck-editor__editable ul,
.text-content ul {
    @apply list-disc mb-4 ml-8;
}

.ck-editor__editable ul li,
.text-content ul li {
    @apply pl-2;
}
